<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <title>Student home</title>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="cssmenu">
            <ul>
                <li class ='active'><a href='/'>Home</a></li>
                <li><a href='/student'>Student</a></li>
                <li><a href='/lecture'>Lecture</a></li>
                <li><a href='/attendance'>Attendance</a></li>
                <li style="float:right; margin-right: 4px">
                    <a  href="#">Maciej Szałek</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="title">
            <p>WELCOME ADMIN HOME PAGE </p>
        </div>
    </div>
    <div class="footer">
        <p>JavaDev Academy @Copyright by Maciej Szałek</p>
    </div>
</div>
</body>
</html>