<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <title>Student home</title>
</head>

<body>
<div class="container">
    <div class="header">
        <div class="cssmenu">
            <ul>
                <li class ='active'><a href='/student/home'>Home</a></li>
                <li><a href='/student/details'>Details</a></li>
                <li><a href='/student/attendances'>Attendances</a></li>
                <div class="dropdown">
                    <ul>
                        <li><a href="#" th:text="${userName}">User</a></li>
                        <div class="dropdown-content">
                            <a href="/login?logout">Logout</a>
                        </div>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="title">
            <p th:text="${welcome}">JavaDev Student Console </p>
        </div>
    </div>
    <div class="footer">
        <p>JavaDev Academy @Copyright by Maciej Szałek</p>
    </div>
</div>
</body>
</html>