@import url(http://fonts.googleapis.com/css?family=Raleway);

.modal {
    background-color: rgba(110, 110, 110, 0.47);
    font-family: Raleway, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.modal-container {

    animation-name: zoom;
    animation-duration: 0.6s;
    position: absolute;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    z-index: 2;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes  zoom {
    from{transform: translate(-50%, -50%) scale(0)}
    to{transform: translate(-50%, -50%) scale(1)}
}

.modal-header{
    padding: 10px;
    background-color: #47c9af;
    color: #ffffff;
    text-align: left;
    border-radius: 4px;
}
.modal-body {
    padding: 10px;
    background-color: white;
    color: #444444;
    text-align: left;
}

.modal-input, input, select {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-input, select:invalid {
    color: gray;
    background-color: white;
}

.modal-footer{
    padding: 10px;
    background-color: white;
    line-height: 20px;
}
.modal-button > button {
    padding: 10px 24px;
    margin-left: 10px;
    float: right;
    background-color: #47c9af;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    border: none;
}

.modal-button > button:hover {
    cursor: pointer;
    background-color: white;
    color: #444444;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.modal-button > button:focus {
    outline: none;
}
