@import url(http://fonts.googleapis.com/css?family=Raleway);

html,
body {
    margin:4px;
    padding:0;
    height:100%;
    z-index: 0;
}
.title,
.title {
    text-align: center;
    padding-top: 10px;
    color: #444444;
    font-size: large;
    font-family: Raleway, sans-serif;
}
.container {
    min-height:100%;
    position:relative;
}
.header {}
.content-body {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px 10px 60px;
}
.footer,
.footer > footer {
    position:absolute;
    bottom:0;
    width: 100%;
    text-align: center;
    background-color: #47c9af;
    color: white;
    font-family: Raleway, sans-serif;
}
.table,
.table {
    font-family: Raleway, sans-serif;
}
.table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.table,th,td {
    padding: 10px;
}
.table-head {
    font-weight: normal;
    background-color: #47c9af;
    color: white;
}

.table-body {
    text-align: center;
    background-color: white;
    color: #444444;
}
.table-body > td {
    padding: 10px;
}
.table-body > tr {
    border-bottom: 1px solid grey;
}

.table-body > tr:hover{
    background-color: lightgray;
}

.table-footer {
    border: none;
    padding: 0;
}

.addbtn > button {
    float: right;
    padding: 12px 28px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    background-color: #47c9af;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}
.addbtn > button:hover {
    cursor: pointer;
    background-color: white;
    color: #444444;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.addbtn > button:focus {
    outline: none;
}